/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center; */
/* min-height: 400px;
  min-width: 200px; */
/* } */
/* .allCard {
  height: 150px; */
/* display: flex;
  flex-wrap: wrap; */
/* justify-content: space-around; */
/* padding: 100px; */
/* } */

/* .card {
  border: 3px solid red;
  background-color: rgb(117, 172, 0);
  padding: 20px;
  margin: 20px;
  justify-content: space-around;
} */
